<!DOCTYPE html>
<html lang="ru" xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">

<body bgcolor="#f0f8ff">
<div layout:fragment="content">
    <script th:inline="javascript">
        window.onload = formOutputAttributes;


        function formOutputAttributes(){
            let container = document.getElementsByClassName("container__r1")[0];

            /*<![CDATA[*/

            let attributes = /*[[${detail.getDetailAttributes()}]]*/ 'default';

            /*]]>*/

            console.log(attributes)

            let map = new Map(Object.entries(attributes));

            for (let [key, value] of map){
                container.insertAdjacentHTML("beforeend", "<div class=\"item\">\n" +
                    "                    <span name=\"attributeName\">" +  key + " : </span>\n" +
                    "                </div>")

                container.insertAdjacentHTML("beforeend", "<div class=\"item\">\n" +
                    "                    <span name=\"attribute\">" +  value + "</span>\n" +
                    "                </div>")
            }
        }
    </script>
    <center><h1 th:text="${detail.getCategory().getCategoryName() + ' ' + detail.getDetailName() + ' ' + detail.getDetailVendorCode()}"></h1></center>
    <div style="font-size: x-large">
        <div class="container">
            <div class="container__l1">
                <div class="item">
                    Наименование детали:
                </div>
                <div class="item" th:text="${detail.getDetailName()}"></div>
                <div class="item">
                    Vin код детали:
                </div>
                <div class="item" th:text="${detail.getDetailVendorCode()}"></div>
                <div class="item">
                    Описание детали:
                </div>
                <div class="item" th:text="${detail.getDetailDescription()}"></div>
                <div class="item">
                    Категория детали:
                </div>
                <div class="item" th:text="${detail.getCategory().getCategoryName()}"></div>
                <div class="item">
                    Количество деталей:
                </div>
                <div class="item" th:text="${detail.getDetailCount()}"></div>
                <div class="item">
                    Стоимость детали:
                </div>
                <div class="item" th:text="${detail.getDetailCost()}"></div>
            </div>

            <div class="container__r1" id="detailContainer" th:value="${detail.getDetailAttributes()}">
            </div>
        </div>
    </div>

</div>
</body>
</html>