<!DOCTYPE html>
<html lang="ru" xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">

    <body bgcolor="#f0f8ff">
        <div layout:fragment="content">
            <center><h1>Смена пароля</h1></center>
            <p th:if="${error}" class="error" style="color : red; font-size: large; text-align: center">
                Неверный старый пароль, либо новые пароли не совпадают
            </p>
            <form align="center" th:action="@{/changePassword}" method="post" th:object="${changePasswordViewModel}">
                <div class="form-group">
                    <label for="oldPassword">Старый пароль</label><br>
                    <input type="password" id="oldPassword" placeholder="Введите старый пароль" required th:field="*{oldPassword}"><br>
                </div>

                <div class="form-group">
                    <label for="newPassword">Новый пароль</label><br>
                    <input type="password" id="newPassword" placeholder="Введите новый пароль" required th:field="*{newPassword}"><br>
                </div>

                <div class="form-group">
                    <label for="passwordConfirm">Подтвердите новый пароль</label><br>
                    <input type="password" id="passwordConfirm" placeholder="Повторите новый пароль" required th:field="*{confirmPassword}"><br>
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-success" value="Сменить пароль" />
                </div>
            </form>
        </div>
    </body>
</html>